.loading{
  text-align: center;
  display: flex;

}
.info-box{
  display: grid;
  grid-template-rows: 100px 1fr 2.5fr;
  width: 20%;
  margin: 0 auto;
}

.title{
  grid-row: 1 / span 1;
  font-size: 30px;
  text-align: center;
  display:flex;
  align-items: center; /* horizontal */
  justify-content: center;
}

.left-info{
  grid-row: 2 / span 1;
  align-self: center;
}

/* right info */

.right-info{
  grid-row: 3 /span 1;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 60px 1fr; */
  text-align: center;
}
.country-name{
  font-weight: bolder;
  /* grid-row: 1 / span 1; */
}
.hello{
  /* grid-row: 2 / span 1; */
}

.flag-image{
  width: 100%;
  border: 1px black solid;
}

.translation{
  line-height: 1.8;
  font-size: 22px;
}
