.footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.create{
  margin: 10px;
  text-align: center;
}
.created-small{
  margin: 10px;
  text-align: center;
  display: none;;
}


.footer-img{
  width: 25px;
  margin: 8px;
}
