#map{
  z-index: 1000;
  position: relative;
  display: block;
  width: 78%;
  background-color: #2287c1;
  /* background: url('http://www.xsjjys.com/data/out/229/WHDQ-513650512.jpg');
  background-size: cover ; */
}

.datamaps-hoverover{
  border: 2px rgba(55, 55, 55, 0.79) solid;
  border-radius: 3px;
  font-size: 16px;
  padding: 6px;
  background-color: rgba(99, 54, 126, 0.6);
  white-space: nowrap;
  font-weight: bold;
  color: #FFFFFF;
}
